/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body-schema {
    /*height: 100%;*/
    /*font-family: Ubuntu-Regular, sans-serif;*/
    background-color: #fff;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    background-image: linear-gradient(rgba(86, 204, 242, 0.7), rgba(47, 128, 237, 0.7));
}

.body-login {
    /*height: 100%;*/
    /*font-family: Ubuntu-Regular, sans-serif;*/
    background-color: #fff;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    /*background-image: linear-gradient(rgba(86, 204, 242, 0.7), rgba(47, 128, 237, 0.7)), url('/Content/images/background.png');*/
}
/*table*/
.table-login {
    border-collapse: collapse !important
}

    .table-login td, .table-login th {
        background-color: #fff !important
    }

/*table {
    border-collapse: collapse
}*/

.table-login {
    text-align: center;
    width: auto;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-radius: 5px
}

    .table-login.passform {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .table-login.schema {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .table-login td, .table-login th {
        padding: .75rem;
        vertical-align: top;
        /*border-top: 1px solid #e9ecef;*/
        background-color: transparent
    }

    .table-login thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #e9ecef
    }

    .table-login tbody + tbody {
        border-top: 2px solid #e9ecef
    }

    .table-login .table-login {
        background-color: #fff
    }
/*---------------------------------------------*/
a {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #234b59;
    }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

    textarea:focus, input:focus {
        border-color: transparent !important;
    }

input::-webkit-input-placeholder {
    color: #8f8fa1;
    font-size: 12px;
    font-weight: normal;
}

input:-moz-placeholder {
    color: #8f8fa1;
    font-size: 12px;
    font-weight: normal;
}

input::-moz-placeholder {
    color: #8f8fa1;
    font-size: 12px;
    font-weight: normal;
}

input:-ms-input-placeholder {
    color: #8f8fa1;
    font-size: 12px;
    font-weight: normal;
}

textarea::-webkit-input-placeholder {
    color: #8f8fa1;
}

textarea:-moz-placeholder {
    color: #8f8fa1;
}

textarea::-moz-placeholder {
    color: #8f8fa1;
}

textarea:-ms-input-placeholder {
    color: #8f8fa1;
}

label {
    display: block;
    margin: 0;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: auto;
    font-size: 16px;
    color: #4da1bf;
    line-height: 1.4;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.logicon {
    font-size: 20px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex !important;
    align-items: center;
    position: absolute !important;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 23px;
    padding-bottom: 5px;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    /*width: inherit;*/
    /*min-height: 925px;*/
    display: -webkit-box;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /*align-items: center;*/
    /*padding: 15px;*/
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /*width: 100%;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.wrap-login100 {
    padding: inherit;
    width: 49%;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

    .wrap-login100.passform {
        left: 26%;
    }

.wrap-schema100 {
    padding: inherit;
    width: 490px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.login100-more {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: calc(100% - 50%);
    position: relative;
    z-index: 1;
    /*background-image: url(/Content/images/1.jpg);*/
    background-image: linear-gradient(rgba(77, 161, 191, 0.8), rgba(41, 144, 181, 0)), url(/Content/images/1.jpg)
}

.div_logo {
    /*float: left;
    padding: 22px;*/
    position: absolute;
    left: 14%;
    transform: translate(-50%, -50%);
    top: 5%;
}
/*==================================================================
[ Form ]*/
.login100-form {
    width: 100%;
}

.login100-form-title {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #234b59;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
}

.row-large-logo {
    margin: 0 auto;
}

.logo-large {
    float: right;
    width: 150px;
    margin: 30px;
}

.form_logo {
    position: absolute;
    left: 84%;
    transform: translate(-50%, -50%);
    top: 5%;
}

.div_form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
}

/*---------------------------------------------*/
.input100 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #234b59;
    line-height: 1.2;
    font-size: 16px;
    display: block;
    /*width: 380px;*/
    width: inherit;
    background: transparent;
    height: 50px;
    /*padding: 0 20px 0 38px;*/
    padding: 0 20px 0 58px;
}

.input-schema {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #234b59;
    line-height: 1.2;
    font-size: 12px;
    display: block;
    width: inherit;
    background: transparent;
    height: 40px;
    padding: 0 13px 0 20px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #4da1bf;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.eff-focus-selection {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*==================================================================
[ DropDownList Checkbox ]*/

option {
    background-color: #e6e6e6;
    vertical-align: center;
    font-family: Verdana;
    font-size: 16px;
    max-width: fit-content;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
    display: block;
}

.label-checkbox100 {
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: #4da1bf;
    line-height: 1.2;
    display: block;
    position: relative;
    /*padding-left: 26px;*/
    cursor: pointer;
}

/*.label-checkbox100::before {
        content: "\f00c";
        font-family: FontAwesome;
        font-size: 13px;
        color: transparent;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        background: #fff;
        border: 2px solid #4da1bf;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.input-checkbox100:checked + .label-checkbox100::before {
    color: #4da1bf;
}*/

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.login100-form-btn {
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /*width: 380px;*/
    height: 50px;
    background-color: #4da1bf;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    width: 49%;
}

    .login100-form-btn.passform {
        width: 100%;
    }

.schema100-form-btn {
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #4da1bf;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: #234b59;
}

.login100-form-btn:focus {
    background-color: #234b59;
}

.schema100-form-btn:hover {
    background-color: #234b59;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 3px;
    padding: 4px 25px 5px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
    font-family: Ubuntu-Regular;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/