@using BLL.Models.Document
@model BaseElectronDoc

@if (Model.FileSignatureStatus == 2)
{
    @Html.Partial("~/Views/ESign/DisposeDocPanel.cshtml")
    @*@Html.Partial("~/Views/ESign/DisposeDocPanel-V2.cshtml", Model)*@
}
else
{
    <div class="mModal">
        <div class="modal fade modalBtn" id="removeDialogModal" tabindex="-1" role="dialog" aria-labelledby="prAddModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-header2">
                        &nbsp; Sənədi ləğv etməyə əminsiniz?
                    </div>

                    <div class="modal-body" style="max-height: 70vh;overflow-y: auto">
                        <div class="row">
                            <div class="col-12">
                                <textarea class="form-control noteArea" id="removeNote"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <div class="col-3">
                            <button type="button" id="removeDocButton" class="mBtn mBtn-pr defaultBtn" style="width: 100%">Bəli</button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="mBtn mBtn-sec mr-5 defaultBtn closeBtn" style="width: 100%">Xeyr</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $('#removeDocButton').click(function () {
        var note = $("#removeNote").val();

        if (note == '') {
            toastr.warning('Qeydinizi daxil edin');
            return;
        }

        var token = $('input[name="__RequestVerificationToken"]').val();
        var requestToken = $("#spanToken").html();

        $.ajax({
            type: 'POST',
            url: `/az/DocOperation/DisposeDocument?token=${requestToken}`,
            beforeSend: function () {
                window.ShowLoading();
            },
            data: { __RequestVerificationToken: token, note: note },
            success: function () {
                RefreshGrid();
            },
            complete: function () {
                window.CloseLoading();
            }

        });
    });

    $(".noteArea").on("input", function (event) {
        if (!(/^[\p{L}0-9-]/u.test(this.value)) || this.value == '-') {
            $(this).val("");
            toastr.warning("Düzgün səbəb daxil edin.");
        }
    });
</script>