<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SFTPHost" value="azdoc.sftp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SFTPUserName" value="esd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SFTPPassword" value="mhm@)!*123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>


  <connectionStrings>

    <add name="DmsDbContext" connectionString="data source=10.10.7.242;
         initial catalog = DmsRitnLast;
         persist security info = True;
         user id = mhmNurlan;
         password = mhm123456;
         MultipleActiveResultSets = True;
         App = EntityFramework"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
  <system.web>
    <compilation debug="true" xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>