
@using AzDoc.Helpers
@using BLL.Models.Document
@model BaseElectronDoc

<div class="mModal">
    <div class="modal fade modalBtn" id="removeDialogModal" tabindex="-1" role="dialog" aria-labelledby="prAddModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-header2">
                    <span>Sənədi ləğv etməyə əminsiniz ?</span>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" style="text-align: left!important">
                                <label for="ctlConfirmCertificates">Sertifikatınızı seçin:</label>
                                <select class="form-control" name="" id="ctlConfirmCertificates"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" id="confirmNote"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <div class="col-3">
                        <button type="button" id="confirmDocBtn" class="mBtn mBtn-pr defaultBtn" style="width: 100%">
                            Ləğv et
                        </button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="mBtn mBtn-sec mr-5 defaultBtn closeBtn" style="width: 100%">
                            Bağla
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" id="confirmation" hidden="hidden"></button>

<script>
    var filesarray = [];
    var eimza = eimzaLib();
    var tokenDocId = $("#spanToken").html();

    $("#disposeDocConfirmation").on("click",
        function () {
            eimza.isSigningServiceWorking()
                .then(onConfirminingWorking, onConfirminingDown);
        });

    function readDisposeCertificates() {
        eimza.readCertificatesFromStore()
            .then(onConfirmSuccessReadCertificates, onCertReadError);
    }

    function onConfirminingWorking() {
        readDisposeCertificates();

        $("#confirmDocBtn").click(function () {
            var note = $("#confirmNote").val().trim();

            if (note === '') {
                return toastr.warning('Qeydinizi daxil edin');
            }

            var select = $("#ctlConfirmCertificates");
            var certDetails = select.text();

            var jsonString = `{"${certDetails.split(',').join('", "').split('=').join('": "')}"}`;
            var object = JSON.parse(jsonString);
            var userFin = $.trim(object.SERIALNUMBER);


            if (userFin !== '@SessionHelper.UserFIN' && ($.inArray(userFin, exceptFin) === -1)) {
                return toastr.warning("Seçdiyiniz sertifikat mövcud istifadəçiyə aid deyil.");
            }

            return eimza.checkEdoc('@Model.SignedFileInfo.Base64', '@Model.SignedFileInfo.Name')
                .then(onConfirmSuccess, onConfirmError);
        });
    }

    function base64ToArrayBuffer(base64) {
        var binaryString = window.atob(base64);
        var binaryLen = binaryString.length;
        var bytes = new Uint8Array(binaryLen);
        for (var i = 0; i < binaryLen; i++) {
            var ascii = binaryString.charCodeAt(i);
            bytes[i] = ascii;
        }
        return bytes;
    }

    var saveData = (function () {
        var a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        return function (data, fileName) {
            var blob = new Blob([base64ToArrayBuffer(data)], { type: "octeModelodeldelstream" }),
                url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = fileName;
            a.click();
            window.URL.revokeObjectURL(url);
        };
    }());

    function onConfirminingDown(data) {
        console.log('isSigningService dont working');
        console.log(data);
        toastr.warning('Elektron imzanın yeni versiyasının(V2) kompyüterinizdə qurulu və ya işlək olmasından əmin olun.');
    }


    function onConfirmSuccessReadCertificates(data, status) {
        console.log(data);
        var certificates = data.output.certificates;

        if (data.output.error !== undefined) {
            toastr.warning(data.output.error);
        }

        if (certificates.length > 0) {
            var options = [];

            for (var i = 0; i < certificates.length; i++) {
                options.push(new Option(certificates[i].subject, certificates[i].serialNumber));
            }

            $("select#ctlConfirmCertificates").html(options);
        } else {
            toastr.warning('Online imzalayıcı proqramının işlək olmasından və ya imzanızın qoşulu olduğundan əmin olun.');
        }
    }

    function onConfirmSuccess(data, status) {

        if (data.isSuccess) {
            var token = $('input[name="__RequestVerificationToken"]').val();


            $.ajax({
                url: `/az/DocOperation/DisposeDocument?token=${tokenDocId}`,
                type: 'POST',
                dataType: 'json',
                data: { __RequestVerificationToken: token, note: $("#confirmNote").val() },
                beforeSend: function () { window.ShowLoading() },
                success: function (data) {
                    if (data) {
                        $("#removeDialogModal").modal("hide");

                        var grid = $($("#DocGrid").find("input")[0]).attr("id");

                        setTimeout(function () {
                                $(`#${grid}`).bindgrid();
                            },
                            3000);

                        Swal.fire({
                            type: 'success',
                            title: 'Sənədin ləğvi uğurla başa çatdı.',
                            showConfirmButton: false,
                            timer: 1000
                        });

                    } else {
                        toastr.warning("Sənədin ləğvi uğursuz oldu.");
                    }
                },
                error: function (response) {
                    console.log('error', response);
                },
                complete: function () { window.CloseLoading(); }
            });
        } else {
            toastr.error(data.error);
        }
    }

    function onConfirmError(err) {
        toastr.error("Sənədin ləğvi uğursuz oldu." + err);
        console.log("onError", err);
    }

    function onCertReadError(err) {
        toastr.warning('Sertifikatınızın oxunulması mümkün olmadı.');
        console.log("onReadError", err);
    }



    function dataURLtoFile(dataurl, filename) {
        var parts = dataurl.split(',');
        bstr = atob(parts[1]), n = bstr.length, fileBuffer = new Uint8Array(n);
        while (n--) {
            fileBuffer[n] = bstr.charCodeAt(n);
        }
        return new File([fileBuffer], filename, { type: 'edoc' });
    }
</script>