<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="C:\Logs\AzDocX\${date:format=yyyy-MM}" />
 

  <targets async="true">

    <target name="LogFile"
            xsi:type="File"
            encoding="UTF-8"
            fileName="${logDirectory}\${date:format=dd}.nlog"
            layout="${date:format=yyyy-MM-dd hh\:mm\:ss} ${callsite} ${level:uppercase=true} ${message}"
            createDirs="true" keepFileOpen="false" archiveAboveSize="1000000"
            />

    <!--<target name="sendMail" xsi:type="Mail"
            subject="DMS Application Error"
            to=""
            cc=""
            from="shahriyar.safarov.1995@mail.ru "
            body="${longdate}|${message}"
            enableSsl="true"
            smtpAuthentication="Basic"
            smtpServer="smtp.mail.ru"
            smtpusername="shahriyar.safarov.1995@mail.ru"
            smtpPassword="lerik043"
            smtpPort="25"/>-->

  </targets>


  <rules>
    <logger name="FileLogger" writeTo="LogFile" />
    <!--<logger name="*" minlevel="Error" writeTo="sendMail"/>-->
  </rules>
</nlog>
