@using BLL.Common.Enums
@using AzDoc.Helpers;

@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
    //var docType = SessionHelper.DocTypeId;
    RouteData routeData = ViewContext.RouteData;

    var routeValueDictionary = new RouteValueDictionary(routeData.Values);

    var _lang = routeValueDictionary["lang"] ?? "az";
    <style>
        button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: none !important;
        }

        [role="gridcell"],
        [role="row"] {
            /*height: 40px!important;*/
        }

        .jqx-grid-cell-left-align {
            margin-top: 0px !important;
        }
    </style>


    var grid = Html.MhmGrid("gridRequests", "Requests", "Home", routeValues: new { area = "Journal"  })

.Columns(cols =>
{


    cols.Column(c =>
    {
        c.SetText("Sənədin daxilolma tarixi və nömrəsi");
        c.SetDataField("DocumentDateNumber");
        c.SetHeaderAlign(TextAlign.Center);        
        c.SetCellsAlign(TextAlign.Left);
        c.SetMinWidth(175);
        c.SetWidth("15%");
        c.IsFilterable();
    });

    cols.Column(c =>
    {
        c.SetText("Sənədi göndərən");
        c.SetDataField("EntryFromWho");
        c.SetHeaderAlign(TextAlign.Center);
        c.SetCellsAlign(TextAlign.Left);
        c.SetMinWidth(180);
        c.SetWidth("15%");
        c.IsFilterable();

    });

    cols.Column(c =>
    {
        c.SetText("Sənədin tarixi və nömrəsi");
        c.SetDataField("DocEnterInfo");
        c.SetHeaderAlign(TextAlign.Center);
        c.SetCellsAlign(TextAlign.Left);
        c.SetMinWidth(174);
        c.SetWidth("15%");
        c.IsFilterable();
    });
    cols.Column(c =>
    {
        c.SetText("Sənədin qısa məzmunu");
        c.SetDataField("DocDescription");
        c.SetHeaderAlign(TextAlign.Center);
        c.SetCellsAlign(TextAlign.Left);
        c.SetMinWidth(600);
        c.SetWidth("15%");
        c.IsFilterable();
    });


    cols.Column(c =>
    {
        c.SetText("Kim baxmışdır və dərkənar");
        c.SetDataField("InfoResolution");
        c.SetHeaderAlign(TextAlign.Center);
        c.SetCellsAlign(TextAlign.Left);
        c.SetMinWidth(183);
        c.SetWidth("15%");
        c.IsFilterable();
    });


    cols.Column(c =>
    {
        c.SetText("İcraçı");
        c.SetDataField("ExecutorName");
        c.SetHeaderAlign(TextAlign.Center);
        c.SetCellsAlign(TextAlign.Left);
        c.SetMinWidth(50);
        c.SetWidth("15%");
        c.IsFilterable();
    });

    cols.Column(c =>
    {
        c.SetText("Sənədin saxlandığı işin nömrəsi, vərəqlərinin sayı");
        c.SetDataField("InfoDoc");
        c.SetHeaderAlign(TextAlign.Center);
        c.SetCellsAlign(TextAlign.Left);
        c.SetMinWidth(50);
        c.SetWidth("15%");
        c.IsFilterable();
    });

    cols.Column(c =>
    {
        c.SetText("Qeyd1");
        c.SetDataField("Icra_haqqda_qeydN");
        c.SetHeaderAlign(TextAlign.Center);
        c.SetCellsAlign(TextAlign.Left);
        c.SetMinWidth(50);
        c.SetWidth("15%");
        c.IsFilterable();
    });

    cols.Column(c =>
    {
        c.SetText("Qeyd2");
        c.SetDataField("NoteInfo");
        c.SetHeaderAlign(TextAlign.Center);
        c.SetCellsAlign(TextAlign.Left);
        c.SetMinWidth(50);
        c.SetWidth("15%");
        c.IsFilterable();
    });


    cols.Column(c =>
    {
        c.SetText("");
        c.SetDataField("EditNote");
        c.SetHeaderAlign(TextAlign.Center);
        c.SetWidth(35);
        c.IsCrud("x", "x");
        c.SetRenderer("<button></button>",
        htmlAttributes: new { @class = "fa fa-edit btn", type = "button", id = "btnEdit", title = "Redaktə et" });
    });

    cols.Column(c =>
    {
        c.SetText("");
        c.SetDataField("DocId");
        c.SetHeaderAlign(TextAlign.Center);
        c.SetWidth(35);
        c.IsCrud("x", "x");
        c.SetRenderer("<button></button>",
        htmlAttributes: new { @class = "fa fa-list btn", type = "button", id = "btnInfo", title = "Tarixcə", data_toggle = "modal", data_target = "#myModalArchive" });
    });
})
.AllowCrud()
.AllowSorting(false)
.AllowTooltips(false)
.AllowPaging(true)
.AllowFiltering(true)
.AllowFilterRow(true)
.AllowColumnOrdering(true)
.AllowColumnResizing(true)
.SetOnFilter("onFilter")
.SetPageSize(35)
.SetWidth("100%")
.SetHeight("100%");

}


@{
    Html.RenderPartial("_PanelViewPartial");
}

<div class="col-md-12" id="DocGrid" style="padding-top: 10px; height: 86vh">
    @grid.GetHtml()
</div>

<link href="~/Content/fontawesome/css/all.min.css?v=@AppVersion.Version" rel="stylesheet" />
<link href="~/Content/fontawesome/css/v4-shims.min.css?v=@AppVersion.Version" rel="stylesheet" />


<div id="popover-content-ActionName"></div>


<div class="mModal">
    <div class="modal fade modalBtn" id="myModal" tabindex="-1" role="dialog" aria-labelledby="prAddModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-header2">
                    &nbsp; Qeyd
                </div>

                <div class="modal-body" style="max-height: 70vh;overflow-y: auto">
                    <div class="row">
                        <div class="col-12">
                            <textarea class="form-control noteArea" id="txtNote"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <div class="col-3">
                        <button type="button" id="btnSave" class="mBtn mBtn-pr defaultBtn" style="width: 100%">Yadda saxla</button>
                    </div>
                    <div class="col-3">
                        <button type="button" id="btnCancel" class="mBtn mBtn-sec mr-5 defaultBtn closeBtn" style="width: 100%">Ləğv et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mModal">
    <div class="modal fade modalBtn" id="myModalArchive" tabindex="-1" role="dialog" aria-labelledby="prAddModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"></div>

                <div class="modal-body" id="myModalContent" style="max-height: 70vh;overflow-y: auto">

                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/common/printThis.min.js"></script>
<script src="~/Scripts/common/tableHTMLExport.js"></script>

<script>
    

    $(document).on('click', '#btnEdit', function (e) {

        const splitString = $(this).parent().attr("title").split(";");
        var docid = splitString[0];

        $('#txtNote').attr("name", docid);
        var text = splitString[1];
        if (text == null) text = '';
        $('#txtNote').val(text);
        $('#myModal').modal('show');

    });

    $(document).on('click', '#btnCancel', function (e) {

        $('#myModal').modal('hide');
    });

    $(document).on('click', '#btnSave', function (e) {
        
        $.ajax({
          type: 'POST',
         url: '@Url.Action("EditNote", "Home", new { area = "Journal" })',
                        dataType: 'json',
            data: {
                note: $('#txtNote').val(),
                docid: $('#txtNote').attr("name")
                //docType: 1
            },
                        beforeSend: function () {
                            window.ShowLoading();
                        },
                        success: function () {
                            //alert("success");
                        },
                        complete: function () {
                            window.CloseLoading();
                            $('#myModal').modal('hide');
                            location.reload();
                        }
                    });

    });




    $(document).on('click', '#btnInfo', function (e) {
        
        $.ajax({
            url: '/az/Journal/Home/GetNoteArchive' ,
            data: {
                docId: $(this).parent().attr("title")
                //docType: docType
            }
        }).done(function (msg) {
            $('#myModalContent').html(msg);
            $('#myModalArchive').modal(options);
            $('#myModalArchive').modal('show');
            window.CloseLoading();
            $('#loader').remove();
            })
    });

    $('.mModal').mouseout(function () {
        $('.mTable2 tbody tr').removeClass("selected");
    });




    function onFilter(sender, args, query) {
        $('#gridRequests').bindgrid(1);
    }

    $("#Period").change(function () {

        $('#gridRequests').setRouteValue({ 'year': $(this).val() });
        $('#gridRequests').bindgrid(1);
        $('#loader').remove();

    });

    function RefreshPage() {
        location.reload();
    }

</script>

<script src="~/Scripts/widgets/jqxmin.min.js"></script>

