CREATE TABLE [WaitingDocs].[DOCS_EXECUTOR](
	[ExecutorId] int NOT NULL,
	[ExecutorDirectionId] int NOT NULL,
	[ExecutorDocId] int NOT NULL,
	[ExecutorWorkplaceId] int NOT NULL,
	[ExecutorFullName] nvarchar(500) NULL,
	[ExecutorMain] [tinyint] NOT NULL CONSTRAINT [DF__DOCS_EXEC__Execu__3F3159AB]  DEFAULT 0,
	[DirectionTypeId] int NULL,
	[ExecutorOrganizationId] int NULL,
	[ExecutorTopDepartment] int NULL,
	[ExecutorDepartment] int NULL,
	[ExecutorSection] int NULL,
	[ExecutorSubsection] int NULL,
	[ExecutorStepId] int NULL,
	[ExecutionstatusId] int NULL,
	[ExecutorNote] nvarchar(4000) NULL,
	[ExecutorReadStatus] bit NULL CONSTRAINT [DF_DOCS_EXECUTOR_ExecutorReadStatus]  DEFAULT 0,
	[ExecutorResolutionNote] nvarchar(4000) NULL,
	[SendStatusId] int NULL,
	[ExecutorPersonId] int NULL,
	[ExecutorStatus] bit NOT NULL CONSTRAINT [DF_dbo_DOCS_EXECUTOR_1]  DEFAULT 0,
	[ExecutorConfirmed] int NULL,
	[ExecutorNotDeleted] int NULL,
	[ExecutorControlStatus] bit NULL CONSTRAINT [DfDOCS_EXECUTORExecutorControlStatus] DEFAULT 0,
	[ExecutorTopId] int NULL,
	[WorkPlaceId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[RecoveryDate] [datetime] NULL,
	[TransactionId] [varchar](32) NULL
)

