CREATE TABLE [WaitingDocs].[DOCS_DIRECTIONS](
	[DirectionId] int identity NOT NULL,
	[DirectionDocId] int NOT NULL,
	[DirectionDate] [datetime] NOT NULL,
	[DirectionWorkplaceId] int NULL,
	[DirectionPersonFullName] nvarchar(500) NULL,
	[DirectionTemplateId] int NULL,
	[DirectionTypeId] int NOT NULL,
	[DirectionControlStatus] bit NULL CONSTRAINT [DF__DOCS_DIRE__Direc__31D75E8D]  DEFAULT 0,
	[DirectionPlanneddate] [date] NULL,
	[DirectionPlannedDay] [tinyint] NULL,
	[DirectionExecutionStatusId] int NULL,
	[DirectionVizaId] int NULL,
	[DirectionConfirmed] [tinyint] NULL CONSTRAINT [DF__DOCS_DIRE__Direc__32CB82C6]  DEFAULT 1,
	[DirectionSendStatus] bit NULL,
	[DirectionCreatorWorkplaceId] int NULL,
	[DirectionInsertedDate] [datetime] NULL,
	[DirectionPersonId] int NULL,
	[DirectionUnixTime] [bigint] NULL,
	[DirectionNote] nvarchar(500) NULL,
	[DirectionConfirmPersonId] int NULL,
	[DirectionConfirmWorkplaceId] int NULL,
	[WorkPlaceId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[RecoveryDate] [datetime] NULL,
	[TransactionId] [varchar](32) NULL
 )
